**/bin/
**/obj/
**/node_modules/
**/.next/
**/out/
**/dist/
**/coverage/
**/.vs/
**/.idea/
**/.vscode/
.git/
.github/
*.log
*.user
*.suo
docker/
docs/
media/library/
media/cache/
media/transcode/
**/*.db
**/*.db-*
